@custom-basefontsize: @font-size-base;
@custom-basefontsize-small: @font-size-small;
@font-size-small: @custom-basefontsize * 0.8; 


.font-100{ 
	 font-family:'Neue Frutiger W01', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-weight: 100;
	 font-style: normal;
	
}

.font-200{ 
	 font-family:'Neue Frutiger W01',"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-weight: 200;
	 font-style: normal;
	
}

.font-300{ 
	 font-family:'Neue Frutiger W01',"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-weight: 300;
	 font-style: normal;
	
}

.font-500{ 
	 font-family:'Neue Frutiger W01',"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-weight: 500;
	 font-style: normal;
	
}

@h1-size--hero: 200%;
@h1-size: 160%;
@h2-size: 140%;
@h3-size: 120%;
@h4-size: 120%;


