@custom-basefontsize: 1rem; 

@font-face {
  font-family:'Myriad W01 Lt';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:'Myriad W01 Regular';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'Myriad W01 SmBd';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family:'Myriad W01 Bd';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family:'Myriad W01 Black';
  font-weight: 700;
  font-style: normal;
}

@ff-light: 'Myriad W01 Lt','Open Sans', Helvetica, Arial, sans-serif;
@ff-medium: 'Myriad W01 SmBd','Open Sans', Helvetica, Arial, sans-serif;
@ff-bold: 'Myriad W01 Black','Open Sans', Helvetica, Arial, sans-serif;


.clear{
	content: "";
	display: block;
	height: 0;
	clear: both;
}