.article{
	
	margin-bottom: @custom-basefontsize /4;
	padding: @custom-basefontsize;
	background-color: #fff;
	
	.head, .body, .documents{ margin-bottom: @custom-basefontsize /2; }
	
	.body{
		h2, h3, h4{
			margin-bottom: @custom-basefontsize /4;
		}
	}
	
	.foot{ display: none; }
}

.article--headline-outside{
	
	padding: 0;
	background-color: transparent;
	
	.head{ 
		.headline--uppercase;
		padding: 0 @custom-basefontsize;
		height: @h1-size;
		margin: 0;
	}
	.body{ background-color: #fff; padding: @custom-basefontsize; }
	
	
}

.headline-hidden{
	
	.head{ display: none; }
	
}

.gap-at-top{
	
	// Die Slideshow soll vertikal oben an der Textbox ausgerichtet sein.
	@media (min-width: @screen-md-min) { 
		margin-top: @h1-size;  
	}
	
}