footer{
	padding-bottom: @custom-basefontsize /2;	
	
	a:hover{
		border: none;
		text-decoration: none;
	}
	
	.copyright{
		margin-top: @custom-basefontsize;
		border-top: solid 1px @brand-primary;
		padding-top: @custom-basefontsize /2;
	}

}