.display-flex() {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-wrap(@display-flex) {
    -webkit-flex-wrap: 	@display-flex;
    -ms-flex-wrap: 		@display-flex;
    flex-wrap: 			@display-flex;
}