#wrap > article {
	position: relative;
	width: 460px;
}


aside {
	color: #999;
}

p {
	line-height: 120%;
	padding-bottom: 15px;
}




























































/*.marginalie_links, aside {
	margin-left: -240px;
	height: 0;
	width: 220px;
}*/
/*
.marginalie_rechts {
	margin-left: 480px;
	height: 0;
	width: 220px;
}

aside {
	text-align: right;
	color: #999;
}*/