.body ul{
	
	margin-top: @custom-basefontsize /2;
	padding-left: 0;
	
	li{
		display: block;
		margin: 0 @custom-basefontsize @custom-basefontsize/2 @custom-basefontsize *1.5;
		
		&:before{
			content: ">>";
			color: @brand-primary;
			padding-right: @custom-basefontsize /4;
			margin-left: @custom-basefontsize * -1.5;
			
		}
	}
}

.article__standard{
	
	
	background-color: #fff;
	padding: @custom-basefontsize;

	
	.foot{
		display: none;
	}
}

.article__headline_outside{
	
	margin-bottom: @custom-basefontsize /4;
	
	.body{ 
		.article__standard; 
	}
	
	.head{
		.headline__uppercase;
	}
	.foot{
		display: none;
	}
}

.article__headline_hidden{
	
	.article__standard;
	.head{ display: none; }
}